@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Manrope";
  background-color: #292929;
}
main {
  width: 100%;
  position: absolute;
  display: flex;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  padding-top: 80px;
  justify-content: center;
}
header {
  display: flex;
  align-items: center;
  height: 80px;
  background: rgba(49.94, 49.94, 49.94, 0.7);
  backdrop-filter: blur(20px);
  color: #dedede;
  font-size: 18px;
  font-weight: 700;
  justify-content: space-between;
  padding: 0px 102px 0px 109px;
}
span {
  margin-left: 11px;
  font-weight: 800;
  font-size: 20px;
  color: #dedede;
}
header div {
  display: flex;
  align-items: center;
}
.header__link {
  margin-left: 56px;
}
h1 {
  display: flex;
  color: #dedede;
  font-size: 54px;
  line-height: 64px;
}
h3 {
  color: #959595;
  font-size: 20px;
  font-weight: 600;
  margin-top: 24px;
}
.portfolio__img {
  height: 400px;
  width: 400px;
}
.portfolio__img img {
  height: auto;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}
.container {
  display: flex;
  justify-content: space-between;
  gap: 247px;
  margin-top: 159px;
}
.container div {
  display: flex;
  flex-direction: column;
}
.button1 {
  color: white;
  font-size: 18px;
  font-weight: 600;
  background-color: #9d9d9d;
  padding: 16px 48px;
  width: 294px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border: 0;
  border-radius: 4px;
  margin-top: 88px;
}
.button2 {
  margin-top: 145px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  text-transform: uppercase;
  color: #dedede;
  padding: 8px;
  width: 182px;
}
button {
  cursor: pointer;
}
.works {
  display: grid;
  grid-template-columns: 612px 612px;
  grid-template-rows: repeat(2, 888px);
  gap: 24px;
  margin-top: 96px;
}
.works img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.works img:nth-child(2n) {
  margin-top: 140px;
}
